{% extends 'layouts/app.twig' %}

{% block script %}
    <script src="/assets/js/app/tvshows/mobiletvshows.js"></script>
    {% include 'js-templates/link-extraction.twig' %}
{% endblock script %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a target="_blank" href="https://mobiletvshows.net">MobileTVShows</a> Extractor
        </div>
        <div class="card-body">
            <div class="card-text">
                <div>
                    <i class="fa fa-lightbulb text-warning"></i> Visit <a target="_blank"
                                                                          href="https://mobiletvshows.net">MobileTVShows.net</a>,
                    copy tv show/series link and paste it in the input field below.
                </div>
                <div class="font-italic mt-1">Link sample:
                    <b>http://www.mobiletvshows.net/subfolder-The%20Expanse.htm</b></div>
            </div>
            <div id="link-extraction-status" class="mt-4 list-group"></div>
            <form class="mt-4" id="form-mobiletvshows">
                <div class="input-group">
                    <input type="url" name="mobiletvshows-url" class="form-control"
                           placeholder="http://www.mobiletvshows.net/subfolder-The%20Expanse.htm">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-md btn-indigo m-0">
                            <i class="fa fa-search"></i> Fetch
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% verbatim %}
    <template id="template-link-extraction-mobiletvshows">
        <div class="list-group">
            <div class="border border-primary pb-2 mt-3">
                <div class="list-group-item font-weight-bold card-header p-3 text-uppercase text-center bg-primary">{{title}}</div>
                {{#each episodes~}}
                    <div class="mx-3">
                        <div class="list-group-item p-3 mt-2">
                            <a href="{{href}}" class="" target="_blank"><i class="fa fa-list-alt"></i> Episode {{title}}</a>
                        </div>
                        {{#each links~}}
                            <div class="mx-3">
                                <div class="list-group-item text-success z-depth-1 px-3 py-2 d-flex justify-content-between">
                                    <span class="font-weight-bold"><i class="fa fa-check-circle text-success"></i> {{title}}</span>
                                    <div>
                                    <a target="_blank" href="{{links.links.file_url[0]}}"><i class="fa fa-download"></i> Download</a>
                                    <a target="_blank" href="{{links.links.file_url[1]}}"><i class="fa fa-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        {{~/each}}
                    </div>
                {{~/each}}
            </div>
        </div>
    </template>
    {% endverbatim %}
{% endblock content %}